/* Experiences.css */

/* Base styles */

.experiences {
  min-height: 100vh;
  /* Ensure the container is at least viewport height */
  display: flex;
  width: 100%;
  gap: 20px;
  flex-direction: column;
  background: linear-gradient(to bottom, 	#5E8DF7, transparent);
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
}

.exp-qoute {
  position: absolute;
  display: flex;
  text-align: center;
  align-self: first baseline;
  font-size: clamp(.64em, .96em, 1.24em);
  font-weight: 400;
  opacity: .64;
  color: #FFF7D6;
}

.cards-container {
  display: flex;
  overflow: 'hidden';
  object-fit: contain;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  min-height: 100%;
  gap: 1rem;
  padding: clamp(0rem, .64rem, .96rem);
}


.icon {
  font-size: clamp(1em, 3.2em, 4em);
  color: #000;
}


.card{
  text-align: center;
  position: relative;
  cursor: pointer;
  width: 400px;
  height: 450px;
  transition: all 0.6s;
}

.card:hover .icon {
  filter: drop-shadow(0px 0px 1px #005eff);
}

.face1{
  width: 100%;
  height: 150px;
  transition: 0.5s;
  box-shadow: 6px 6px 10px -1px rgb(0, 0, 0);
}

.card .face.face1{
  position: relative;
  background: linear-gradient(135deg,  transparent,#ff4500),
    linear-gradient(-135deg, transparent,#ff4500),
    linear-gradient(45deg,  transparent,#ff4500),
    linear-gradient(-45deg,  transparent,#ff4500);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(150px);
}

.card:hover .face.face1{
  transform: translateY(0);
}

.card .face.face1 .content h2{
  padding: 0;
  text-align: center;
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: 400;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.card .face.face2{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  transform: translateY(0px);
  width: 100%;
  height: 150px;
}

.card:hover .face.face2{
  height: 300px;
  background: rgb(0, 0, 0, .4);
  transition: all .64s ease-in-out;
}

.card .face.face2 .content p{
  margin: 0;
  padding: 0;
}

.card .face.face2 .content a{
  margin: 15px 0 0;
  display:  inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.card .face.face2 .content a:hover{
  background: #333;
  color: #fff;
}


/**work timeline****/

.work-timeline {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.work-timeline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: yellow;
  content: '';
  position: absolute;
  width: 1px;
  top: 0;
  bottom: 0;
  left: 50%;
  animation: timeline-bg 10s infinite ease-in;
  background: -webkit-linear-gradient(to right, #00c6ff, #0072ff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, #0072ff, #333, #e4e4e4);
  background-size: 600% 100%;
  z-index: 1;
}

.event-left, 
.event-right {
  position: relative;
  background: inherit;
  width: 100%;
}

.event-left {
  left: -50%;
}

.event-right {
  left: 50%;
}

.event-left::before {
  top: 0;
  right: 0;
}

.event-right::before {
  bottom: 0;
  left: 0;
}

.event-left::after {
  bottom: 0;
  right: 0;
}

.event-right::after {
  top: 0;
  left: 0;
}

.event-left:first-child::before,
.event-right:first-child::before,
.event-left:last-child::before,
.event-right:last-child::before {
  display: none;
}

.work-content {
  position: relative;
  border-top: 1px solid #ff5e00;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
}

.work-content:hover {
  background: #000000c4;
  transform: translateY(-2px);
}


.work-content span {
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
  color: #ff5e00;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.work-content p:first-of-type {
  font-size: 1em;
  font-weight: normal;
  color: #ffffff;
}

.work-content p:last-of-type {
  font-size: 1em;
  font-weight: normal;
  color: #afafaf;
}
@media (max-width: 767.98px) {
  .timeline {
      padding-bottom: 0;
  }

  .container {
      width: 100%;
      margin-top: 0;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 30px;
  }
  
  .container.right {
      left: 0%;
  }

  .container.left::after, 
  .container.right::after,
  .container.left::before,
  .container.right::before {
      width: 5px;
      height: 35px;
      left: 30px;
  }
  
  .container.left .content,
  .container.right .content {
      border-right: 5px solid #eeeeee;
      border-left: 5px solid #00539C;
      border-radius: 0 15px 15px 0;
  }
}

/**BAr**/
.bar {
  position: absolute;
align-self:last baseline;
  height: .11rem;
  width: 100%;
}

.emptybar {
  background: radial-gradient(circle, #00295c 50%, #F7931E 51%);
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 100%;
  height: 100%;
  background: rgb(0,154,217);
  background: radial-gradient(circle, #F7931E 50%, #00295c 51%);
  transition: .6s ease-in-out;
  opacity: 0;
}

.card:hover .filledbar {
  opacity: 1;
  transition: .6s ease-in-out;
}

.card:hover .emptybar {
  opacity: 0;
  transition: .6s ease-in-out;
}

.loader {
  position: absolute;
  align-self: last baseline;
  width: fit-content;
  height: 5.4em;
  opacity: .8;
}

.box-hill {
  position: relative;
  width: 5.4em;
  height: 5.4em;
  top: 1.8em;
  left: 1.8em;
  border-left: .16em solid #e4e4e4;
  transform: rotate(45deg);
}

.box-hill:after {
  content: '';
  position: relative;
  width: 5.4em;
  height: 5.4em;
  left: 0;
}

.box {
  position: absolute;
  left: 0;
  bottom: -.1em;
  width: .8em;
  height: .8em;
  border: .16em solid #e4e4e4;
  transform: translate(0, -1em) rotate(-45deg);
  animation: push 4s cubic-bezier(.79, 0, .47, .97) infinite;
}

@keyframes push {
  0% {
    transform: translate(0, -1em) rotate(-45deg);
  }
  5% {
    transform: translate(0, -1em) rotate(-50deg);
  }
  20% {
    transform: translate(1em, -2em) rotate(47deg);
  }
  25% {
    transform: translate(1em, -2em) rotate(45deg);
  }
  30% {
    transform: translate(1em, -2em) rotate(40deg);
  }
  45% {
    transform: translate(2em, -3em) rotate(137deg);
  }
  50% {
    transform: translate(2em, -3em) rotate(135deg);
  }
  55% {
    transform: translate(2em, -3em) rotate(130deg);
  }
  70% {
    transform: translate(3em, -4em) rotate(217deg);
  }
  75% {
    transform: translate(3em, -4em) rotate(220deg);
  }
  100% {
    transform: translate(0, -1em) rotate(-225deg);
  }
}

@media screen and (max-width: 768px) {
  .experiences-container {
    height: auto;
    width: 100%;
    object-fit: contain;
    padding: 0;
    margin: auto;
  }

  .exp-qoute {
    display: none;
  }

  .loader {
    align-self: center;
  }

  .cards-container {
    flex-direction: column;
    width: 100%;
    padding: 5px;
  }
}