@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap");

/* Main container */
.portfolio {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
  gap: 32px;
  object-fit: contain;
  width: 100%;
  background: url("../../img/bg/philip-oroni-KM_SItStu_s-unsplash.jpg");
    position: relative;
}

.portfolio-qoute {
  color: white;
  font-weight: 100;
  font-size: 16px;
}

/* Tab buttons */
.tab-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 72%;
  gap: 4px;
}

.tab-button {
  background: #010b13;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: 100;
  color: #fff;
  font-size: 18px;
  display: flex;
  width: 80%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border: transparent;
  position: relative;
  opacity: 0.16;
  transition: all 0.32s ease-in-out;
}

.tab-button:hover {
  transform: translateY(-4px);
  opacity: 0.88;
}

.tab-button.active {
  color: #fff;
  text-shadow: -2px 0px 0px black;
  opacity: 1;
}

/* Carousel container */
.carousel-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 72%;
  height: 56vh;
  gap: 24px;
}

.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-position: 300px 180px;
  border-radius: 4px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.96s ease-in-out;
  position: absolute;
  cursor: pointer;
}

.slide.active {
  opacity: 1;
}

.slide.next-prev-slide {
  opacity: 0;
  z-index: -1;
}

.color-sample {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s;
}

.color-name {
  position: absolute;
  display: flex;
  align-items: center;
  color: #fff;
  width: 64%;
  height: 64%;
  justify-content: center;
  font-size: 20px;
  font-weight: 400;
  transition: opacity 0.5s;
  letter-spacing: 1px;
  text-transform: uppercase;
  box-shadow: 0 0 8px black;
  border-radius: 4px;
}

.color-sample:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 16px black;
}

.color-sample:hover .color-name {
  opacity: 1;
}

.color-summary {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
  text-align: center;
  justify-content: center;
  background: linear-gradient(to bottom right, #fff, wheat);
}

.slide-info {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: "Roboto", serif;
}

.slide-info li:nth-child(1) {
  font-size: 18px;
  font-weight: bold;
  font-family: "Pixelify Sans", cursive;
  letter-spacing: 1px;
  color: black;
  text-transform: uppercase;
  padding: 16px 24px;
  box-shadow: 0 0 8px black;
  border-radius: 4px;
}

.slide-info li:nth-child(2) {
  padding: 8px 16px;
  border-radius: 4px;
}

.slide-info li:nth-child(3) {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
}

.slide-info li:nth-child(3) a {
  width: 50%;
  display: inline-block;
  padding: 8px 16px;
  color: #ffffff; /* Button text color */
  text-decoration: none;
  border: none;
  font-size: 16px;
  font-weight: 100;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}


.carousel-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.carousel-prev,
.carousel-next {
  width: 40px;
  height: 40px;
  background: transparent;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #ff5e00;
  font-size: 1.64rem;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.32s ease-in-out;
}

.carousel-prev:hover,
.carousel-next:hover {
  transform: scale(1.64);
}

.carousel-prev.disabled,
.carousel-next.disabled {
  pointer-events: none;
  opacity: 0.5;
}

/* For smaller screens, change the layout */
@media (max-width: 900px) {
  /* Update carousel width for smaller screens */ 
  .carousel {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .carousel-container {
flex-direction: column;
    width: 96%;
    gap: 24px;
  }
  
  .carousel {
    flex-direction: column;
  }
}
