.about-container {
  background: #1b1b1b;
  min-height: 100vh;
  /* Ensure the container is at least viewport height */
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.about-title {
  display: flex;
  position: relative;
  background: transparent;
  pointer-events: none;
  font-size: clamp(0.3rem, 1vw + 1rem, 0.9rem);
  color: #fff;
  font-weight: 100;
}

.about-cards-wrapper {
  display: flex;
  text-align: center;
  align-items: center;
  min-height: 100%;
  background: #1b1b1b;
  gap: 1rem;
  padding: clamp(0rem, 1vw + 0.5rem, 1rem);
object-fit: contain;
position: relative;
overflow: hidden;
}

.about-card {
  color: #fff;
  position: relative;
  display: flex;
  width: 100%;
  height: 450px;
  object-fit: contain;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.profile-summary {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  overflow: hidden;
}

.title-underline {
  width: 100%;
  height: 1px;
  margin: 1px auto;
  animation: backgroundChange 10s infinite ease-in;
  background: -webkit-linear-gradient(to right, #00c6ff, #0072ff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00c6ff, #0072ff, #333, #e4e4e4, #f5af19, #f12711, #4A00E0);
  background-size: 600% 100%;
  opacity: 0.01;
}

/* Keyframes for background color animation */
@keyframes backgroundChange {
  0% {
    opacity: inherit;
    background-position: 0 0;
  }

  50% {
    opacity: 0.5;
    background-position: 100% 0;
  }

  100% {
    opacity: inherit;
    background-position: 0 0;
  }
}

.profile-summary {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.profile-summary h2 {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 400;
  color: #c4c4c4;
  font-family: Arial, sans-serif;
  padding: 1.5rem clamp(1rem, 5%, 3rem);
}

.profile-summary p {
  font-size: clamp(0.3rem, 1vw + 1rem, 0.9rem);
  color: #c4c4c4;
  padding: 1.5rem clamp(1rem, 5%, 3rem);
  text-align: left;
}


.skill-icons {
  display: flex;
  justify-content: center;
}

.skill-icon {
  font-size: 20px;
}

.skill-icon.html-icon {
  color: #e34c26;
  transition: transform 0.3s linear;
}

.about-cards-wrapper:hover .skill-icon.html-icon {
  transform: scale(1.1);
  filter: saturate(1.5) drop-shadow(0px 0px 10px #1b1b1b);
}

.skill-icon.css-icon {
  color: #1572b6;
  transition: transform 0.3s linear;
}

.about-cards-wrapper:hover .skill-icon.css-icon {
  transform: scale(1.1);
  filter: saturate(1.5) drop-shadow(0px 0px 10px #1b1b1b);
}

.react-icon {
  color: #61dbfb;
  animation: rotate2 3s infinite linear;
  transform-origin: center;
}

.about-cards-wrapper:hover .react-icon {
  animation: none;
}

@keyframes rotate2 {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(360deg);
  }
}

.skill-icon.js-icon {
  color: #f0db4f;
}

.social-links {
  display: flex;
  font-weight: 100;
  font-size: medium;
  color: #949494;
  justify-content: center;
  width: 50%;
  margin-top: 16px;
  padding: 10px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.profile-image {
  position: relative;
  height: 200px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.profile-pic {
  width: 100%;
  height: auto;
  transition: all 1s ease-in-out;
}

.about-cards-wrapper:hover .profile-pic {
  transform: translateY(-5px) scale(1.01);
  filter: drop-shadow(-1px 0px 0px rgb(146, 146, 146, 0.3));
}

.profile-title-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}

.profile-title {
  text-align: center;
  min-width: 64%;
  height: auto;
  letter-spacing: 5px;
  transition: all 0.6s ease-in-out;
}

.profile-title-container:after {
  display: flex;
  content: "";
  width: 64%;
  transform: translateY(-66px);
  align-items: center;
  justify-content: center;
  align-self: center;
  opacity: 0;
  height: 2px;
  background: linear-gradient(to bottom right, transparent 0%, rgb(255, 255, 255, 0.1) 45%, rgba(0, 152, 254, 0.1) 48%, rgb(0, 0, 0, 0.1) 50%, rgba(0, 152, 254, 0.1) 52%, rgb(255, 255, 255, 0.1) 55%, transparent 100%);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* Thinner underline */
  /* Baby blue glowing underline */
  transition: all 0.6s ease-in-out;
}

.about-cards-wrapper:hover .profile-title-container::after {
  border-radius: 10px;
  opacity: 1;
  /* Expanded underline width */
  animation: profile-title-bg 10s infinite linear;
  background: linear-gradient(to right, transparent 0%, rgb(255, 255, 255, 0.1) 45%, #00A0FF, #F7931E 50%, #00A0FF, rgb(255, 255, 255, 0.1) 55%, transparent 100%);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 200% 100%;
  transform: translateY(0);
}

@keyframes profile-title-bg {
  0% {
    background-position: 50% 0;
  }

  25% {
    background-position: 100% 0;
  }

  50% {
    background-position: 50% 0;
  }

  75% {
    background-position: 0 0;
  }

  100% {
    background-position: 50% 0;
  }

}

@media screen and (max-width: 768px) {
  .about-container {
    align-items: center;
justify-content: center;
  }

  .about-cards-wrapper {
    flex-direction: column;
    height: fit-content;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .about-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100%;
  }

  .profile-summary p {
text-align: center;
  }
}

.icon-container {
  display: flex;
  justify-content: center;
  width: 50%;
  backdrop-filter: blur(1px) brightness(0.9);
  padding: 10px;
}

.icon-wrapper {
  flex: 1;
  text-align: center;
  transition: transform 0.3s, filter 0.3s;
  font-size: 20%;
}

.icon-wrapper.active {
  filter: brightness(1.2) saturate(1.2);
  transform: translateY(-5px);
}

.social-icon {
  font-size: 20px;
  color: #949494;
}

/* Loading animation */
@keyframes loadingSpin {
  to {
    transform: rotate(360deg);
  }
}

.icon-wrapper.loading {
  animation: loadingSpin 1s linear infinite;
}

/* Hover animation */
.icon-wrapper:not(.active):hover {
  cursor: pointer;
}

/* Responsive design */

@media screen and (max-width: 768px) {
  .shapes-animation-container {
    width: 90%;
    height: auto;
  }
}

.particle-card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: contain;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;bottom: 0;
}

.particle-field {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  mix-blend-mode: overlay;
}

.particle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255);
  border-radius: 50%;
  transform-origin: center;
  animation: particleAnimation 10s linear infinite;
}

@keyframes particleAnimation {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
}

.app-button.about-button {
  background: #00295c;
  transition: all 0.3s ease-in-out;
}

.app-button.about-button:hover {
  background: #F7931E;
}