/* Base Styles */

.contact-container {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left-card {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.custom-message {
  text-align: center;
  font-size: 1.2rem;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s, transform 0.5s;
}

.message-hidden {
  opacity: 0;
  transform: translateY(-20px);
}

.right-card {
  flex: 1;
  width: 100%;
  height: 100%;
  background-color: #00295c;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.contact-form {
  background-color: #fff;
  text-align: center;
  padding: 1rem;
  opacity: .7;
  box-shadow: 0 0px 30px rgba(0, 0, 0);
  height: 50%;
  width: 50%;
  transition: transform 0.2s ease-in-out, opacity 0.2s;
  cursor: pointer;
}

.contact-form:hover {
  opacity: 1;
transform: translateY(-5px);
}

.animated-input {
  width: 100%;
  padding: 8px;
  margin: auto;
  border: 1px solid #ccc;
  transition: border-color 0.3s;
}

.animated-input:hover {
  border-color: #F7931E;
}

.send-button {
  background-color: #1b1b1b;
  color: #fff;
  border: none;
  font-size: 1em;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.send-button:hover {
  background-color: #e67e00;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.loading-wheel {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #F7931E;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

.submission-message {
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
  margin-top: 10px;
}

.form-submitted .contact-form {
  transform: translateX(200%);
  opacity: 0;
}


.form-submitted .submission-message {
  opacity: 1;
}

/* Enhanced Styles */

/* Smooth Transitions */
.custom-message, .submission-message {
  transition: opacity 0.5s, transform 0.5s;
}

/* Form Reset */
.form-submitted .animated-input {
  border-color: #ccc;
}

/* Input Focus Animation */
.animated-input:focus {
  border-color: #F7931E;
}

/* Field Labels */
label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

@media screen and (min-width: 768px) {
  .contact-container {
    flex-direction: row;
  }
}

/* Accessibility */
.animated-input, .send-button {
  outline: none;
}

/* Iconography */
.send-button::before {
  content: '\f1d8';
  font-family: 'FontAwesome';
  margin-right: 5px;
}


/* Media Queries */
@media screen and (max-width: 600px) {
  .contact-form {
    width: 90%;
  }
}

/* ... Rest of the CSS ... */
