.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background: url("../../img/bg/milad-fakurian-VbC-EiOTDqA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
}

.contact-left-card {
  width: 100%;
  height: 100%;
  color: #e4e4e4;
  letter-spacing: 1px;
}

.contact-right-card {
  height: 100%;
  width: 32%;
  text-align: center;
  justify-content: center;
  padding: 16px 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0);
  background: rgba(245, 222, 179, 0.40);
  transition: all .32s ease-in-out;
}

.contact-right-card:hover {
  background: rgba(245, 222, 179, 0.88);
}

.contact-custom-message {
  text-align: center;
  font-size: clamp(.64em, .96em, 1.24em);
  font-weight: 400;
  opacity: .64;
  color: #FFF7D6;
}

.contact-form-group {
  margin-bottom: 20px;
}

label {
  display: flex;
  text-align: center;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 4px;
  color: #4b4b4b;
}

.contact-input,
.contact-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid transparent;
  background: rgba(245, 245, 245, 0.64);
  transition: border-color 0.3s ease;
  font-family: 'Roboto', serif;
  font-size: 16px;
  font-weight: 400;
}

.contact-input:focus,
.contact-textarea:focus {
  background: whitesmoke;
  border-color: #007bff;
  outline: none;
}

.contact-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #00295c;
}

.contact-error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

@media screen and (max-width: 768px)  {
  .contact-right-card {
    width: 90%;
  }  
}

