.perlin {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  background-size: 100%;
  gap: 16px;
  flex-direction: column;
background: url("../../img/bg/milad-fakurian-DjjaZybYx4I-unsplash.jpg");
background-size: cover;
background-repeat: no-repeat;
}

.perlin-cards-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  height: 66%;
  background: transparent;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.card-small {
  display: flex;
  width: 25%;
  height: 33%;
  transition: transform 0.4s ease-in-out;
  letter-spacing: 1px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 400;
  margin: 0px 8px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.card-small::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background: linear-gradient(135deg,  transparent, rgb(0, 255, 0, .16)),
    linear-gradient(-135deg, transparent, rgb(0, 255, 0, .16)),
    linear-gradient(45deg,  transparent, rgb(0, 255, 0, .16)),
    linear-gradient(-45deg,  transparent, rgb(0, 255, 0, .16));
}
.card-small:nth-child(2):before {
  background: linear-gradient(135deg,  transparent,#ff450040),
    linear-gradient(-135deg, transparent,#ff450040),
    linear-gradient(45deg,  transparent,#ff450040),
    linear-gradient(-45deg,  transparent,#ff450040);
}

.card-small:nth-child(3):before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background: linear-gradient(135deg,  transparent, #00a0ff40),
    linear-gradient(-135deg, transparent, #00a0ff40),
    linear-gradient(45deg,  transparent, #00a0ff40),
    linear-gradient(-45deg,  transparent, #00a0ff40);
}

.card-small::after {
  content: "";
  position: absolute;
  z-index: -10;
  height: 64%;
  width: 64%;
  display: flex;
  box-shadow: 0 0 2px #000000;
  transition: all 0.48s linear;
  background: rgb(255, 255, 255, .16);
  border-radius: 4px;
}

.card-small.selected::after {
  width: 100%;
  height: 100%;
}

.card-large {
  width: 75%;
  height: 50%;
  object-fit: contain;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: transform 0.4s ease-in-out;
  position: relative;
  background: #00000065;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  flex-wrap: wrap;
}


@property --a {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@keyframes animateborder {
  0% {
    --a: 0deg;
  }
  100% {
    --a: 360deg;
  }
}

.card-large::after {
  content: "";
  position: absolute;
  display: flex;
  top: -16px;
  left: -16px;
  bottom: -16px;
  right: -16px;
  background: repeating-conic-gradient(
    from var(--a),
    transparent,
    rgb(0, 0, 0)
  );
  animation: animateborder 8s ease-in-out infinite;
}

.perlin-title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 300;
  z-index: 9999;
}

.perlin-skills-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  object-fit: contain;
  gap: 16px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  flex-wrap: wrap;
}

.skill-card {
  background: rgb(255, 255, 255, .16);
  backdrop-filter: blur(4px);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  text-align: center;
  transition: background-color 3s linear infinite;
}

.skill-card:hover {
  backdrop-filter: blur(0px);
}

.skill-card:hover::before {
  content: "";
  position: absolute;
  width: 145px;
  height: 145px;
  z-index: -3;
  border-radius: 50%;
  transition: background-color 4s ease-in-out;
  background: repeating-conic-gradient( from 0deg,
    rgba(0, 0, 0, 0.72) 0% calc(var(--percentage-value) * 1%),
    transparent calc(var(--percentage-value) * 1%) 100%
  );
  border: 1px solid rgba(245, 245, 245, 0.16);
}

.skill-card:hover .skill-percentage {
  opacity: 1;
}

.skill-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  font-size: 40px;
  color: wheat;
}

.skill-name {
  font-size: 16px;
  color: #ffffff;
  font-weight: 100;
  position: relative;
}

.skill-percentage {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.reset-button {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  font-size: 1.04;
  color: #fff;
  text-align: center;
  transform-origin: center;
  transform: rotateZ(0);
  opacity: 0.56;
}

.reset-button:hover {
  opacity: 1;
  transform: scale(1.04);
  animation: rotateOut 4s infinite;
}

@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Responsive styles */
@media (max-width: 760px) {

  .perlin-cards-wrapper {
    width: 100%;
  }

  .perlin-skills-wrapper {
    overflow: auto;
  }

  .card-small {
    width: 33%;
    height: 33%;
  }
  .card-large {
    width: 100%;
  }

  .perlin-title {
    font-size: 16px;
  }
}
