* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  overflow: hidden;
  scroll-behavior: smooth;
  min-height: 100vh; /* Ensure the container is at least viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.app-button {
  display: flex;
  font-family: Arial, sans-serif;
  position: relative;
  padding: 10px 20px;
  background: #1b1b1b;
  border: transparent;
  color: #7c7c7c;
  text-decoration: none;
  font-size: 1em;
  font-weight: 100;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.app-button:hover {
  color: aliceblue;
  background: #333;
  transform: translateY(-5px);
}

/* Width and height for the scrollbar track */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  background: transparent;
}

/* Styling the scrollbar handle (thumb) */
::-webkit-scrollbar-thumb {
  background: #007bff;
  cursor: pointer; /* Adding cursor: pointer */
border: 10px solid #003261;
}

/* Styling the scrollbar track */
::-webkit-scrollbar-track {
  background: #1b1b1b;
  /* Make the scrollbar track transparent */
}

/* Adding a feint glow to the scrollbar handle */
::-webkit-scrollbar-thumb:hover {
  box-shadow: 0 0 10px rgba(238, 255, 0);
}

/* Adding a feint glowing trail when the scrollbar moves up or down */
::-webkit-scrollbar-thumb:active {
  box-shadow: 0 0 10px rgba(238, 255, 0);
}

/* Adding a cool hover animation to the scrollbar handle */
::-webkit-scrollbar-thumb:hover {
  background-color: #F7931E;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    background-color: #007bff;
  }
  50% {
    background-color: #e6ca19;
  }
  100% {
    background-color: #007bff;
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
