/* Navbar styling */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  z-index: 999;
  transition: background-color 0.3s, box-shadow 0.3s, opacity 0.3s;
  backdrop-filter: blur(10px);
  background: -webkit-linear-gradient(to right, #00c6ff, #0072ff); /* Chrome 10-25, Safari 5.1-6 */
  background: #00295c;
}

.navbar--visible {
  opacity: 1;
}

.navbar--hidden {
  opacity: 0;
  pointer-events: none;
}

.navbar__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.navbar__links {
  display: flex;
  align-items: center;
}

.navbar__links a {
  color: #e4e4e4;
  opacity: 0.7;
  text-decoration: none;
  font-size: 1em;
  font-family: Arial, sans-serif;
  margin-right: 2rem;
  letter-spacing: 1px;
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 100;
  transition: color 0.3s;
}

.navbar__links a .navbar__icon {
  margin-right: 5px;
  transition: color 0.3s;
}

.navbar__links a:hover {
  color: #E6CA19;
}

.navbar__links a:hover .navbar__icon {
  color:#007bff;
}

.navbar__contact-button {
  background-color: #F7931E;
  border: transparent;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  color: #1b1b1b;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s;
}

.navbar__contact-button:hover {
  color: #fff;
  box-shadow: 0 0 20px #1b1b1b;
}

.navbar__menu-icon {
  font-size: 24px;
  cursor: pointer;
  display: none;
  transition: transform 0.3s;
  margin-right: 20px;
}

.navbar__menu-icon.menu-open {
  animation: rotateOut 0.3s;
}

@keyframes rotateOut {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(45deg);
  }
}

.navbar__dropdown {
  list-style: none;
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: rgba(0, 89, 255, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.navbar__dropdown--open {
  display: block;
}

.navbar__dropdown li {
  margin-left: 30px;
}

.navbar__dropdown a {
  color: #333333;
  text-decoration: none;
  font-size: 16px;
}

.navbar__dropdown a:hover {
  color: #FE4301;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .navbar__links {
    display: none;
  }

  .navbar__menu-icon {
    display: block;
  }

  .navbar__dropdown {
    top: 47px;
    right: 0;
    padding: 10px;
    border: 2px solid transparent;
  }

  .navbar__dropdown li {
    margin-bottom: 20px;
  }

  .navbar__dropdown a {
    display: flex;
    align-items: center;
    color: #949494;
    text-decoration: none;
    font-size: 16px;
  }

  .navbar__dropdown a .navbar__icon {
    margin-right: 10px;
  }

  .navbar__menu-icon.menu-open {
    animation: rotateIn 0.3s;
  }

  @keyframes rotateIn {
    0% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(0);
    }
  }
}

.logo{
width: 200px;
height: 40px; cursor: pointer;
}

.code-tags{
  animation: Float-tags 4s linear infinite;
}

@keyframes Float-tags {
  0%{
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}