/* Navbar styling */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0);
  z-index: 999;
  transition: background-color 0.3s, box-shadow 0.3s, opacity 0.3s;
background: #00295c;
}

.navbar--visible {
  opacity: 1;
  transition: all .64s ease-in-out;
}

.navbar--hidden {
  opacity: 0;
  pointer-events: none;
}

.navbar__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.navbar__links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  font-family: 'Roboto',serif;
  letter-spacing: 1px;
}

.navbar__links a {
  color: #F1F1E6;
  text-decoration: none;
  font-size: .80em;
  letter-spacing: 2px;
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 400;
  transition: color 0.3s;
}

.navbar__links a .navbar__icon {
  margin-right: 5px;
  transition: color 0.3s;
}

.navbar__links a:hover {
  color: orange;
}

.navbar__links a:hover .navbar__icon {
  color: wheat;
  transform: rotateY(180deg);
  transition: all .64s linear;
}

.navbar__menu-icon {
  font-size: 16px;
  cursor: pointer;
  display: none;
  transition: transform 0.3s;
  margin-right: 4px;
  color: #F7931E;
}

.navbar__menu-icon.menu-open {
  animation: rotateOut 0.3s;
}

@keyframes rotateOut {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(45deg);
  }
}

.navbar__dropdown {
  list-style: none;
  margin: 24px auto;
  display: none;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 89, 255, 0.4);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
.navbar__dropdown {
  list-style: none;
  margin: 24px auto;
  display: none;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 89, 255, 0.4);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.navbar__dropdown--open {
  display: block;
  backdrop-filter: blur(16px);
}

.navbar__dropdown li {
  margin-left: 30px;
}

.navbar__dropdown a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.navbar__dropdown a:hover {
  color: #F7931E;
}

/* Media query for mobile devices */
@media (max-width: 900px) {
  .navbar__links {
    display: none;
  }

  .navbar__menu-icon {
    display: block;
    font-size: 16px;
  }

  .navbar__dropdown {
    top: 47px;
    right: 0;
    padding: 10px;
    border: 2px solid transparent;
  }

  .navbar__dropdown li {
    margin-bottom: 20px;
  }

  .navbar__dropdown a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
  }

  .navbar__dropdown a .navbar__icon {
    margin-right: 10px;
  }

  .navbar__menu-icon.menu-open {
    animation: rotateIn 0.3s;
  }

  @keyframes rotateIn {
    0% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(0);
    }
  }
}

.logo{
width: 100px;
height: 50px; cursor: pointer;
filter: drop-shadow(-2px -2px 0px black)
}

