/* Navbar styling */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
box-shadow: inset 0 0 5px black; 
 padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
    transition: top 0.3s;
    background: #1E9600;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, rgb(255, 0, 0), #FFF200, #1E9600);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, rgb(255, 0, 0, 0.01), rgba(0, 0, 0, 0.7), rgb(30, 150, 0, 0.01)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  z-index: 999;
}

.navbar--hidden {
  top: -80px;
}

.navbar__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px; /* Margins on either side of the navbar */
}

.navbar__links {
  display: flex;
  align-items: center;
}

.navbar__links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px; /* Increased font size */
  font-family: Arial, sans-serif; /* Official font style */
  margin-right: 20px; /* Spacing between links */
  letter-spacing: 2px; /* Increased letter spacing */
  position: relative; /* Position for the underline animation */
  display: flex;
  align-items: center;
  transition: color 0.3s; /* Smooth color transition */
}

.navbar__links .navbar__icon {
  margin-right: 5px; /* Spacing between icon and text */
  transition: color 0.3s; /* Smooth color transition */
}

.navbar__links a:hover {
  color: #dcdcdc;
}

.navbar__links a:hover .navbar__icon {
  color: #ffd500; /* Change icon color when link is hovered */
}

.navbar__links a:before {
  content: "";
  position: absolute;
  bottom: -3px; /* Separation between link and underline */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 1px; /* Thinner underline */
  background: #80b3ff; /* Baby blue glowing underline */
  transition: width 0.3s ease-in-out;
}

.navbar__links a:hover:before {
  width: 100%; /* Expanded underline width */
  background: #4080ff; /* Darker hue glowing underline */
  transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1); /* Smooth transition */
}

.navbar__contact-button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.navbar__contact-button:hover {
  border-color: #61dbfb;
  color: #61dbfb;
  box-shadow: 0 0 10px #61dbfb;
}

.navbar__menu-icon {
  display: none;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
}

/* Dropdown menu styling */
.navbar__dropdown {
  list-style: none;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #007bff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar__dropdown--open {
  display: block;
}

.navbar__dropdown li {
  margin-bottom: 10px;
}

.navbar__dropdown a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.navbar__dropdown a:hover {
  color: #dcdcdc;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .navbar__links {
    display: none;
  }

  .navbar__menu-icon {
    display: block;
  }
}
